@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 14px;
}

header {
  padding-top: 20px;
  border: {
    bottom: 1px solid lightgray;
  }
}

main {
  margin-top: 50px;

  .row > div:first-child {
    border-right: 1px solid lightgray;
  }

  h3 {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(251, 181, 52);
  }

  #tbl-customers {

    tbody {
      cursor: pointer;
    }

    thead tr {
      background-color: lightgrey;

      th {
        border-bottom-color: black;
      }
    }

    td {
      vertical-align: middle;
    }

    td:first-child,
    th:first-child {
      width: 75px;
      text-align: center;
    }

    td:last-child,
    th:last-child {
      position: relative;
      width: 75px;
      text-align: center;
    }
  }
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid lightgrey;
}
